@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;700&display=swap');

html, body {
    font-family: 'Spectral', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 0;
    padding: 0;
    border: none;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

/* Headings */

h1, h2 {
    font-family: 'Sepctral', sans-serif;
    font-weight: 700;
}

/* Header */

#header-img {
    height: 400px;
    width: 100%;
    background: url('../images/header_image.jpg') no-repeat center 0;
    top: 0px;
}

/* Navbar */

.navbar {
    background: url('../images/nav-background.jpg') no-repeat center 0;
    width: 100%;
}

.nav-link {
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: blueviolet;
    border-bottom: blueviolet 1px solid;
}

.nav-link.active {
    color: blueviolet;
    font-weight: 600;
    border-bottom: blueviolet 1px solid;
    
}

.btn {
    color: white;
    background: blueviolet;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: .5rem 0;
}