@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;700&display=swap');

:root {
    --clr-neutral-900: hsl(0, 0%, 30%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: #D5BEF8;
}

html, body {
    font-family: 'Spectral', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 0;
    padding: 0;
    border: none;
    top: 0;
    left: 0;
    color: var(--clr-neutral-900);
}

/* Headings */

h1, h2 {
    font-family: 'Sepctral', sans-serif;
    font-weight: 700;
    color: var(--clr-neutral-900);
}

/* Navbar */

.navbar-brand img {
    width: 5rem;
    height: 5rem;
}

.navbar-toggler {
    background: var(--clr-accent-400);
}

.fa-bars {
    font-size: 2.5rem;
    color: var(--clr-neutral-100);
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    color: var(--clr-neutral-900);
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: var(--clr-neutral-900);
}

/* Modal */

.forminput {
    width: 100%;
}

.btn-primary{
    color: black;
}

.btn-secondary{
    color: white;
    background: rgba(255, 0, 0, 0.445);
}

/* index hero image */

#homepage-hero {
    background: url(/assets/images/hero.jpg) no-repeat center center;
    background-size: cover;
    height: 15rem;
    width: 100%;
}

.hero {
    background: rgba(0, 0, 0, .3);
    height: inherit;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.hero h1 {
    color: var(--clr-neutral-100);
    text-align: center;
}

.hero .btn {
    background: var(--clr-accent-400);
    width: max-content;
    align-self: center;
    margin-top: auto;
}

.btn {

}

/* Homepage Information Section */

#welcome-title {
    padding-top: 5rem;
}

.home-container {
    margin: 1em;
    display: flex;
}

.home-container img {
    height: 400px;
}

.text-box {
    flex-grow: 2;
    text-align: center;
    padding-top: 2rem;
}

@media screen and (max-width: 800px) {
    .home-container img {
        height: 400px;
        max-width: 100%;
    }
    .home-container {
        margin: 1em;
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .home-container img {
        height: auto;
        max-width: 100%;
    }

    .home-container {
        margin: 1em;
        display: block;
    }
}

/* Reviews Section */

.reviews div h2,
.reviews div p {
    text-align: center;
}

.carousel-item {
    text-align: center;
    padding: 1rem 4rem;
}

/* Services page */

.heading {
    text-align: center;
    margin: 2rem auto;
}

.container {
    display: block;
    margin: 2rem;
    margin: auto;
}

.accordion-button:not(.collapsed) {
    color: black;
    background:rgba(0, 0, 0, 0.2)
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

/* gallery */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery > img {
    width: 100%;
}

@media screen and (max-width: 900px) {
    #gallery {
    column-count: 3;
    }
}

@media screen and (max-width: 700px) {
    #gallery {
    column-count: 2;
    }
}

/* Contact Us Page */

#contact-us {
    margin-top: 2rem;
}

#contact-form {
    background: rgba(0, 0, 0, 0.2);
    margin: auto 2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
}

#contact-form h2 {
    text-align: center;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    margin: 1rem auto;
}

.map-responsive {
    flex-grow: 3;
}

.map-responsive iframe {
    height:100%;
    width:100%;
}

/* Footer */

.footer {
    margin-top: 3rem;
    border-top: 2px black solid;
    width: 100%;
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
}

.footer a {
    padding: 2rem;
    color: black;
}